@model  IEnumerable<GestionCursos.Models.ViewModels.ProfesorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Nuevo profesor","NuevoProfesor")

@foreach (var item in Model)
{
    <div class="tile">
        Nombre: @item.nombre <br/>
        Experiencia: @item.experiencia <br/>
        <a href="#" onclick="verCursos(@item.idProfesor)">Cursos</a>
        <a href="#" onclick="verCursosJSon(@item.idProfesor)">Cursos Json</a>
    </div>
}

<div class="modal fade" id="dialogo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="contenidoDialogo">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function verCursos(id) {
        var url = "/profesores/CursosDelProfesor/" + id;
        
        $("#contenidoDialogo").load(url, function() {

            $("#dialogo").modal();
        });
    }
    function verCursosJSon(id) {
        var url = "/profesores/CursosDelProfesorJson/" + id;
        
       $.get(url, function(res) {

           var datos = "<ul>";
           for (var i = 0; i < res.length; i++) {

               datos += "<li>" + res[i].nombre + "</li>";

           }
           datos += "</ul>";
           $("#contenidoDialogo").html(datos);
           $("#dialogo").modal();

       });
    }
</script>